@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Global Styling */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background: var(--main-background);
    margin: 0 auto;
}

/* Colors */

:root {
    --main-background: hsl(233, 47%, 7%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --accent: hsl(277, 64%, 61%);
    --card-background: hsl(244, 38%, 16%);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --stats: hsl(0, 0%, 100%);
}

/* Layout */

main {
    margin: 0 25px;
}

.hero {
    background: var(--accent);
    border-radius: 8px 8px 0 0;
    margin-top: 90px;
}

.hero img {
    display: flex;
    width: 100%;
    opacity: 0.3;
}

.card {
    background: var(--card-background);
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 40px 35px 15px;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 28px;
    color: var(--main-heading);
    margin-bottom: 20px;
}

span {
    color: var(--accent);
}

p {
    color: var(--main-paragraph);
    line-height: 27px;
    margin-bottom: 50px;
    opacity: 0.8;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    color: var(--stats);
    margin-bottom: 13px;
}

.stat:last-of-type {
    text-transform: uppercase;
}

h3 {
    color: var(--stat-headings);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* Media queries */

@media (min-width: 768px) {
    main {
        margin: 0 60px;
    }
}

@media (min-width: 1440px) {
    main {
        display: flex;
        margin: 177px 165px;
        height: 450px;
    }
    .hero {
        order: 1;
        border-radius: 0 8px 8px 0;
        margin-top: 0;
    }
    .hero img {
        object-fit: cover;
        height: 450px;
        width: 540px;
    }
    .card {
        padding: 40px 120px 75px 70px;
        text-align: left;
        border-radius: 8px 0 0 8px;
    }
    h1 {
        font-size: 36px;
        margin-top: 40px;
    }
    p {
        font-size: 15px;
        margin-bottom: 70px;
        letter-spacing: -0.2px;
    } 
    .stats {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    h2 {
        font-size: 23px;
        margin-bottom: 5px;
    }
}

/* Attribution */

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 20px auto;
    color: var(--stat-headings);
 }

.attribution a { 
    color: var(--accent);
}
