@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Global Styling */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background: var(--main-background);
    margin: 0 auto;
}

/* Colors */

:root {
    --main-background: hsl(233, 47%, 7%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --accent: hsl(277, 64%, 61%);
    --card-background: hsl(244, 38%, 16%);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --stats: hsl(0, 0%, 100%);
}

/* Layout */

main {
    width: 325px;
    margin: 0 20px;
}

.hero {
    background: var(--accent);
    border-radius: 8px 8px 0 0;
    margin-top: 90px;
}

.hero img {
    width: 100%;
    opacity: 0.3;
    border: none;
}

.card {
    background: var(--card-background);
    text-align: center;
    border-radius: 0 0 8px 8px;
    margin: 0 auto;
    padding: 40px 35px 15px;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 28px;
    color: var(--main-heading);
    margin-bottom: 20px;
}

span {
    color: var(--accent);
}

p {
    color: var(--main-paragraph);
    line-height: 27px;
    margin-bottom: 50px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    color: var(--stats);
    margin-bottom: 13px;
}

.stat:last-of-type {
    text-transform: uppercase;
}

h3 {
    color: var(--stat-headings);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* Attribution */

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 25px auto;
    color: var(--stat-headings);
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
